/*
    Created on : 09 07 2015, 15:12:58
    Author     : Alexandre
*/

.root {
    -fx-padding: 5;
}

.background{
    -fx-background-color: linear-gradient(#AACCEE, #6699BB);
}

.button {
/ / -fx-font-family : "Arial ";
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#ddeeff, #aabbcc);
    -fx-text-fill: #000000;
}
.button:hover {
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
    -fx-text-fill: #000000;
}

.menu-bar { /* The menu bar itself */
}
.menu-bar:focused {
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}
.menu-bar:showing { /* The menu bar itself */
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}

.menu:focused {
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}
.menu:showing { /* The menu bar itself */
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}
.menu .label {
    -fx-text-fill: #000000;
}

.menu-item:focused {
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}
.menu-item:showing{
    -fx-background-color: linear-gradient(#ddeeff, #99CCFF);
}
