/*
    Created on : 09 07 2015, 15:12:58
    Author     : Alexandre
*/

.root {
    -fx-spacing: 10;
    -fx-background-color: linear-gradient(lightsteelblue, darkcyan);
    -fx-padding: 5;
}

.button {
/ / -fx-font-family : "Arial";
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#3333ff, #339BFF);
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-text-fill: #ffffff;
}

#label {
    -fx-font-color: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#comboBoxSelectYear {
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#3333ff, #339BFF);
    -fx-text-fill: #ffffff;

}

#comboBoxRateGroup {
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(#3333ff, #339BFF);
    -fx-text-fill: #ffffff;

}
